<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxtx.auth_service.mapper.AuthUserMapper">
  <resultMap id="jwtModel" type="com.cxtx.common.domain.JwtModel">
    <id column="ID" jdbcType="BIGINT" property="userId" />
    <result column="LOGIN_ID" jdbcType="VARCHAR" property="username" />
  </resultMap>

  <select id="queryUserByPassword" parameterType="com.cxtx.common.config.jwt.vo.LoginRequest" resultMap="jwtModel">
    select ID,LOGIN_ID FROM tb_sys_user where LOGIN_ID = #{username} and PASSWORD = #{password}
  </select>
</mapper>