<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxtx.common.mapper.SysRestLogMapper">
  <resultMap id="BaseResultMap" type="com.cxtx.common.domain.SysRestLog">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="OPERATE" jdbcType="VARCHAR" property="operate" />
    <result column="TOKEN_USER" jdbcType="VARCHAR" property="tokenUser" />
    <result column="INFO_USER" jdbcType="VARCHAR" property="infoUser" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="IP_ADDR" jdbcType="VARCHAR" property="ipAddr" />
    <result column="USER_AGENT" jdbcType="VARCHAR" property="userAgent" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="HTTP_METHOD" jdbcType="VARCHAR" property="httpMethod" />
    <result column="CLASS_METHOD" jdbcType="VARCHAR" property="classMethod" />
    <result column="SESSION_ID" jdbcType="VARCHAR" property="sessionId" />
    <result column="OPERATE_TIMESTAMP" jdbcType="INTEGER" property="operateTimestamp"></result>
  </resultMap>
  <insert id="insert" parameterType="com.cxtx.common.domain.SysRestLog">
    INSERT INTO TB_SYS_REST_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      CREATE_DATE,
      <if test="operate != null">
        OPERATE,
      </if>
      <if test="tokenUser != null">
        TOKEN_USER,
      </if>
      <if test="infoUser != null">
        INFO_USER,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="ipAddr != null">
        IP_ADDR,
      </if>
      <if test="userAgent != null">
        USER_AGENT,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="httpMethod != null">
        HTTP_METHOD,
      </if>
      <if test="classMethod != null">
        CLASS_METHOD,
      </if>
      <if test="sessionId != null">
        SESSION_ID,
      </if>
      <if test="operateTimestamp != null">
        OPERATE_TIMESTAMP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      SYSDATE(),
      <if test="operate != null">
        #{operate,jdbcType=VARCHAR},
      </if>
      <if test="tokenUser != null">
        #{tokenUser,jdbcType=VARCHAR},
      </if>
      <if test="infoUser != null">
        #{infoUser,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="ipAddr != null">
        #{ipAddr,jdbcType=VARCHAR},
      </if>
      <if test="userAgent != null">
        #{userAgent,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="httpMethod != null">
        #{httpMethod,jdbcType=VARCHAR},
      </if>
      <if test="classMethod != null">
        #{classMethod,jdbcType=VARCHAR},
      </if>
      <if test="sessionId != null">
        #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="operateTimestamp != null">
        #{operateTimestamp,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <select id="selectByCondition" parameterType="map" resultMap="BaseResultMap">
        SELECT
            ID,
            OPERATE,
            TOKEN_USER,
            INFO_USER,
            DESCRIPTION,
            CREATE_DATE,
            IP_ADDR,
            USER_AGENT,
            URL,
            HTTP_METHOD,
            CLASS_METHOD,
            SESSION_ID,
            OPERATE_TIMESTAMP
        FROM TB_SYS_REST_LOG
    </select>
</mapper>