<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxtx.common.mapper.SysTaskMapper">
    <resultMap id="BaseResultMap" type="com.cxtx.common.domain.SysTask">
        <id column="id" jdbcType="DECIMAL" property="id" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
        <result column="METHOD" jdbcType="VARCHAR" property="method" />
        <result column="CRON" jdbcType="VARCHAR" property="cron" />
        <result column="ENABLE" jdbcType="VARCHAR" property="enable" />
    </resultMap>
    <select id="selectAllAbledTask" resultMap="BaseResultMap">
      select
      ID,
      NAME,
      METHOD,
      CRON,
      ENABLE
      from tb_sys_task
      where ENABLE = '1'
  </select>

    <select id="selectTableNames" resultType="java.lang.String">
        SHOW TABLES like 'tb_sys_task'
    </select>

    <select id="queryAllSysParameter" resultType="hashmap">
        SELECT id,value FROM tb_sys_parameter
    </select>
</mapper>
