<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxtx.user_manage.mapper.AppMapper">
  <!-- 查询表单是否存在 -->
  <select id="ifTableExist" parameterType="String"
          resultType="int">
		select count(1) from sys_mod m where m.table_key =
		#{tableKey}
	</select>
  <!-- 创建表 -->
  <update id="createTable" parameterType="map">
        create table _app_${map.tableKey}(
            id bigint(20) primary key auto_increment COMMENT 'ID',
            sort bigint(20) DEFAULT NULL COMMENT '排序',
            status int(1) DEFAULT '1' COMMENT '数据状态 1可用，0不可用',
            create_date timestamp NULL COMMENT '创建时间',
            create_by bigint(20) DEFAULT NULL COMMENT '创建人ID',
            create_name varchar(500) DEFAULT '' COMMENT '创建人',
            update_by bigint(20) DEFAULT NULL COMMENT '修改人ID',
            update_date timestamp NULL COMMENT '修改时间',
            remarks varchar(500) DEFAULT '' COMMENT '备注'
        ) CHARSET=utf8
	</update>
  <!-- 删除表字段属性 -->
  <update id="removeFields" parameterType="map">
    <foreach collection="map.fieldList" item="item" index="index"
             separator=";">
      alter table ${map.tableKey} drop column ${item.id}
    </foreach>
  </update>
  <!-- 添加表字段属性 -->
  <insert id="addFields" parameterType="map">
    <foreach collection="map.fieldList" item="item" index="index"
             separator=";">
      alter table ${map.tableKey} add column ${item.id}
      ${item.ctrl}
    </foreach>
  </insert>
  <!-- 增加单个表字段 -->
  <insert id="addField">
		alter table ${tableName} add column ${id} ${ctrl}
	</insert>
  <!-- 删除单个表字段属性 -->
  <update id="removeField" >
			alter table ${tableName} drop column ${id}
	</update>
  <!-- 更新表字段属性 -->
  <update id="updateFields" parameterType="map">
    <foreach collection="map.fieldList" item="item" index="index"
             separator=";">
      alter table ${map.tableKey} modify column ${item.id}
      ${item.ctrl}
    </foreach>
  </update>
  <!-- 创建明细表 -->
  <insert id="addDetails" parameterType="map">
    create table ${map.tableName}_${map.detailName} (id int(11) primary
    key auto_increment,${map.detailName}_id int (11),
    <if test="map.fieldList!=null">

    </if>
    <if test="map.fieldList==null">
    </if>
    <foreach collection="map.fieldList" item="item" index="index"
             separator="," close=",">
      ${item.id} ${item.ctrl}
    </foreach>
    status tinyInt DEFAULT '1',create_by bigint(20) ,create_date datetime,create_name varchar(255))
  </insert>
  <!-- 移除明细表 -->
  <update id="removeDetails" parameterType="map">
		drop table
		${map.tableName}
	</update>
  <!-- 直接根据sql查询数量 -->
  <select id="getCount" resultType="int">
		${sql}
	</select>
  <!-- 根据根据sql查询信息 -->
  <select id="getInfoBySql" resultType="map">
		${sql}
	</select>
  <!-- 根据sql查询单个数据对象 -->
  <select id="getFormDataByField" resultType="map">
		${sql}
	</select>

  <select id="queryCount" resultType="int">
		${getCount}
	</select>
  <select id="queryData" resultType="map">
		${getPage}
	</select>
  <select id="queryRoleIdByUserId" resultType="long">
		SELECT r.id FROM sys_user u
		LEFT JOIN sys_user_role ur ON ur.user_id = u.id
		LEFT JOIN sys_role r ON r.id = ur.role_id
		WHERE
		u.id = #{userId}
	</select>
  <insert id="saveRoleAndMod">
		INSERT INTO sys_role_mod (mod_id, role_id) VALUES(#{modId},#{roleId})
	</insert>

  <!-- 流程模块添加 -->
  <delete id="deleteForm" parameterType="map">
		delete from _app_ #{appKey}_#{detailKey}  where id=#{detailId}
	</delete>
  <insert id="NamedCUDHoldId" parameterType = "map">
    insert into ${tableName}
    <foreach collection="param.keys" item="key" open="(" close=")" separator="," >
      ${key}
    </foreach>
    values
    <foreach collection="param.keys"  item="key" open="(" close=")" separator=",">
      #{param[${key}]}
    </foreach>
  </insert>
  <update id="NamedCUD" parameterType = "map" keyProperty = "id">
    update ${tableName}
    <set>
      <foreach collection="param.keys" item="key" separator="," >
        ${key} = #{param[${key}]}
      </foreach>
    </set>
    where id = #{param.id}
  </update>
  <select id="CUD">
		${sql}
	</select>
  <select id="getObject" resultType="map">
		${sql}
	</select>
  <select id="getList" resultType="map">
		${sql}
	</select>
  <select id="getMap" resultType="map">
		${sql}
	</select>
  <select id="getObjectList" resultType = "list">
		${sql}
	</select>
  <!-- 获取当前连接的数据库名称 -->
  <select id="getDataBaseName" resultType="string">
		SELECT DATABASE()
	</select>
  <select id = "ifTableExistInDataBase" resultType="int">
		SELECT
			COUNT(1)
		FROM
			INFORMATION_SCHEMA.TABLES
		WHERE
			TABLE_SCHEMA = #{dataBaseName}
			AND TABLE_NAME = #{tableName}
	</select>
  <select id="ifColumnExistInTable" resultType = "int">
		SELECT
			COUNT(1)
		FROM
			information_schema.`COLUMNS`
		WHERE
			table_schema = #{dataBase}
		AND table_name = #{table}
		AND column_name = #{column}
	</select>
  <select id="getFormDataByFieldList" resultType = "map">
    select
    <foreach collection="fields" item="item" separator=",">
      item
    </foreach>
    from #{tableName} where id = #{id}
  </select>
  <select id="getFormDataListByFieldList" resultType = "map">
    select
    <foreach collection="fields" item="item" separator=",">
      item
    </foreach>
    from #{tableName} where id = #{id}
  </select>

    <select id="getTableColumnList" parameterType="map" resultType="map">
        SELECT
            COLUMN_NAME AS columnName,
            DATA_TYPE AS dataType
        FROM
            information_schema. COLUMNS
        WHERE
            table_name = #{tableName}
        AND table_schema = #{dataBase}
    </select>
</mapper>