<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxtx.user_manage.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.cxtx.user_manage.domain.Menu">
        <id column="ID" jdbcType="VARCHAR" property="id" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
        <result column="PATH" jdbcType="VARCHAR" property="path" />
        <result column="SORT" jdbcType="INTEGER" property="sort" />
        <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
        <result column="PARENT_NAME" jdbcType="VARCHAR" property="parentName" />
        <result column="COMPONENT" jdbcType="VARCHAR" property="component" />
        <result column="REDIRECT" jdbcType="VARCHAR" property="redirect" />
        <result column="TITLE" jdbcType="VARCHAR" property="title" />
        <result column="ICON" jdbcType="VARCHAR" property="icon" />
        <result column="HIDDEN" jdbcType="VARCHAR" property="hidden" />
        <result column="USE_ROLES" jdbcType="VARCHAR" property="useRoles" />
    </resultMap>


    <delete id="deleteMenuByIds" parameterType="java.lang.String">
        DELETE FROM tb_sys_menu WHERE FIND_IN_SET(ID,#{ids})>0
    </delete>

    <delete id="deleteRole2MenusByMenuIds" parameterType="java.lang.String">
        DELETE FROM tb_sys_role_r_menu WHERE FIND_IN_SET(MENU_ID,#{ids})>0
    </delete>

    <select id="selectSubMenusIds" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT getMenuChildList(#{parentId})
    </select>

    <insert id="insertMenu" parameterType="com.cxtx.user_manage.domain.Menu">
        <selectKey  keyProperty="id" resultType="String" order="BEFORE">
            <![CDATA[  SELECT uuid()  FROM  dual  ]]>
        </selectKey>
        INSERT INTO tb_sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="parentId != null">
                PARENT_ID,
            </if>
            <if test="path != null">
                PATH,
            </if>
            <if test="component != null">
                COMPONENT,
            </if>
            <if test="redirect != null">
                REDIRECT,
            </if>
            <if test="title != null">
                TITLE,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="icon != null">
                ICON,
            </if>
            <if test="hidden != null">
                HIDDEN,
            </if>
            <if test="sort != null">
                SORT,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="component != null">
                #{component,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="hidden != null">
                #{hidden,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>

        </trim>
    </insert>

    <update id="updateMenu" parameterType="com.cxtx.user_manage.domain.Menu">
        UPDATE tb_sys_menu
        <set>
            <if test="parentId != null">
                PARENT_ID = #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                PATH = #{path,jdbcType=VARCHAR},
            </if>
            <if test="component != null">
                COMPONENT = #{component,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                TITLE = #{title,jdbcType=VARCHAR},
            </if>
            <if test="redirect != null">
                REDIRECT = #{redirect,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                ICON = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="hidden != null">
                HIDDEN = #{hidden,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                SORT = #{sort,jdbcType=INTEGER},
            </if>
        </set>
        WHERE ID = #{id,jdbcType=VARCHAR}
    </update>



    <select id="selectAllMenu" resultType="map">
        SELECT
            ID AS id,
            TITLE AS label,
            SORT AS sort,
            PARENT_ID AS parentId
        FROM
            tb_sys_menu
        ORDER BY SORT asc
    </select>

    <select id="selectRoleStairMenu" parameterType="java.lang.String" resultType="map">
        SELECT
            ID AS id,
            TITLE AS label,
            SORT AS sort,
            PARENT_ID AS parentId
        FROM
            tb_sys_menu
        where 1 = 1
        AND PARENT_ID IS NULL
        AND ID IN (SELECT DISTINCT MENU_ID FROM tb_sys_role_r_menu WHERE ROLE_ID = #{roleId})
        ORDER BY
            SORT ASC
    </select>

    <select id="selectRoleSubMenu" parameterType="java.lang.String" resultType="map">
        SELECT
            ID AS id,
            TITLE AS label,
            SORT AS sort,
            PARENT_ID AS parentId
        FROM
            tb_sys_menu
        WHERE
            1=1
        AND PARENT_ID IS NOT NULL
        AND ID IN (SELECT DISTINCT MENU_ID FROM tb_sys_role_r_menu WHERE ROLE_ID = #{roleId})
        ORDER BY
            SORT ASC
    </select>


    <select id="selectAllStairMenu" resultMap="BaseResultMap">
        select * from tb_sys_menu where PARENT_ID IS NULL ORDER BY SORT
    </select>

    <select id="queryMenuInfo" resultMap="BaseResultMap">
        select * from tb_sys_menu where ID = #{id}
    </select>


    <select id="getAllByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
         SELECT
            a.*, b.USE_ROLES
        FROM
            tb_sys_menu a
        LEFT JOIN (
            SELECT
                MENU_ID,
                GROUP_CONCAT(ROLE_ID) AS USE_ROLES
            FROM
                tb_sys_role_r_menu
            GROUP BY
                MENU_ID
        ) b ON a.ID = b.MENU_ID
        WHERE
            FIND_IN_SET(
                a.ID,
                (
                    SELECT
                        GROUP_CONCAT(DISTINCT MENU_ID)
                    FROM
                        tb_sys_role_r_menu
                    WHERE
                        FIND_IN_SET(
                            ROLE_ID,
                            (
                                SELECT
                                    GROUP_CONCAT(DISTINCT ROLE_ID)
                                FROM
                                    tb_sys_user_r_role
                                WHERE
                                    LOGIN_ID = (
                                        SELECT
                                            LOGIN_ID
                                        FROM
                                            tb_sys_user
                                        WHERE
                                            ID = #{userId}
                                    )
                            )
                        ) > 0
                )
            ) > 0
        ORDER BY
            a.SORT
  </select>

</mapper>
