<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxtx.user_manage.mapper.OaFlowMapper">
  <resultMap id="BaseResultMap" type="com.cxtx.user_manage.domain.OaFlow">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="flow_name" jdbcType="VARCHAR" property="flowName" />
    <result column="flow_type" jdbcType="VARCHAR" property="flowType" />
    <result column="sort" jdbcType="BIGINT" property="sort" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="height" jdbcType="VARCHAR" property="height" />
    <result column="width" jdbcType="VARCHAR" property="width" />
  </resultMap>
  <sql id="Base_Column_List">
    id, flow_name, flow_type, sort, status, create_by, create_date, update_by, update_date, 
    remarks, height, width
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oa_flow
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oa_flow
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" parameterType="com.cxtx.user_manage.domain.OaFlow" useGeneratedKeys="true" keyProperty="id">
    insert into oa_flow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="flowName != null">
        flow_name,
      </if>
      <if test="flowType != null">
        flow_type,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createBy != null">
        create_by,
      </if>

        create_date,

      <if test="updateBy != null">
        update_by,
      </if>

        update_date,

      <if test="remarks != null">
        remarks,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="width != null">
        width,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="flowName != null">
        #{flowName,jdbcType=VARCHAR},
      </if>
      <if test="flowType != null">
        #{flowType,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      SYSDATE(),
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      SYSDATE(),
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        #{height,jdbcType=VARCHAR},
      </if>
      <if test="width != null">
        #{width,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxtx.user_manage.domain.OaFlow" useGeneratedKeys="true" keyProperty="id">
    update oa_flow
    <set>
      <if test="flowName != null">
        flow_name = #{flowName,jdbcType=VARCHAR},
      </if>
      <if test="flowType != null">
        flow_type = #{flowType,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      update_date = SYSDATE(),
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=VARCHAR},
      </if>
      <if test="width != null">
        width = #{width,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="selectFlowByForm" resultMap="BaseResultMap">
		SELECT DISTINCT
            flow.*
        FROM
            oa_flow flow
        LEFT JOIN oa_flow_form form ON flow.id = form.flow_id
        LEFT JOIN oa_flow_model md ON md.flow_id = flow.id
        WHERE
            form.form_model_id = #{formId}
        AND form. STATUS = 1
	</select>

  <select id="selectOne" resultMap="BaseResultMap">
    SELECT
    *
    FROM
    oa_flow
    WHERE
    1 = 1
    <if test="flowName != null and flowName != ''">
      and flow_name = #{flowName}
    </if>
    <if test="status != null and status != ''">
      and status = #{status}
    </if>
    limit 1
  </select>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="map">
    SELECT
    *
    FROM
    oa_flow
    WHERE
    1 = 1
    <if test="flowName != null and flowName != ''">
      and flow_name = #{flowName}
    </if>
    <if test="status != null and status != ''">
      and status = #{status}
    </if>
  </select>
</mapper>