<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxtx.user_manage.mapper.OaFormModelMapper">
  <resultMap id="BaseResultMap" type="com.cxtx.user_manage.domain.OaFormModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="form_type" jdbcType="VARCHAR" property="formType" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="table_key" jdbcType="VARCHAR" property="tableKey" />
    <result column="detail_keys" jdbcType="VARCHAR" property="detailKeys" />
    <result column="type" jdbcType="BIGINT" property="type" />
    <result column="sort" jdbcType="BIGINT" property="sort" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="table_schema" jdbcType="LONGVARCHAR" property="tableSchema" />
    <result column="form_view" jdbcType="LONGVARCHAR" property="formView" />
  </resultMap>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oa_form_model
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" parameterType="com.cxtx.user_manage.domain.OaFormModel" useGeneratedKeys="true" keyProperty="id">
    insert into oa_form_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="formType != null">
        form_type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="tableKey != null">
        table_key,
      </if>
      <if test="detailKeys != null">
        detail_keys,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createBy != null">
        create_by,
      </if>

        create_date,

      <if test="updateBy != null">
        update_by,
      </if>

        update_date,

      <if test="remarks != null">
        remarks,
      </if>
      <if test="tableSchema != null">
        table_schema,
      </if>
      <if test="formView != null">
        form_view,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="formType != null">
        #{formType,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tableKey != null">
        #{tableKey,jdbcType=VARCHAR},
      </if>
      <if test="detailKeys != null">
        #{detailKeys,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=BIGINT},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      SYSDATE(),
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      SYSDATE(),
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="tableSchema != null">
        #{tableSchema,jdbcType=LONGVARCHAR},
      </if>
      <if test="formView != null">
        #{formView,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxtx.user_manage.domain.OaFormModel" useGeneratedKeys="true" keyProperty="id">
    update oa_form_model
    <set>
      <if test="formType != null">
        form_type = #{formType,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tableKey != null">
        table_key = #{tableKey,jdbcType=VARCHAR},
      </if>
      <if test="detailKeys != null">
        detail_keys = #{detailKeys,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=BIGINT},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      update_date = SYSDATE(),
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="tableSchema != null">
        table_schema = #{tableSchema,jdbcType=LONGVARCHAR},
      </if>
      <if test="formView != null">
        form_view = #{formView,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="map">
      SELECT
        *
    FROM
        oa_form_model
    WHERE
        1 = 1
    <if test="name != null and name != ''">
      and name = #{name}
    </if>
    <if test="formType != null and formType != ''">
      and form_type = #{formType}
    </if>
    <if test="status != null and status != ''">
      and status = #{status}
    </if>
    <if test="type != null and type != ''">
      and type = #{type}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    *
    from oa_form_model
    where id = #{id,jdbcType=BIGINT}
  </select>

  <!-- 插入具体表 -->
  <insert id="insertForm"
          parameterType="map"
          useGeneratedKeys="true" keyProperty="id">
    INSERT INTO _app_${tableKey}
    <foreach collection="columns" index="index" item="item" open="(" separator="," close=")">
      ${item}
    </foreach>
    VALUES
    <foreach collection="values" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </insert>

  <!-- 更新具体表 -->
  <update id="updateForm" parameterType="map">
        UPDATE _app_${tableKey}
        SET
            ${sql}
        where id = #{id,jdbcType=BIGINT}
    </update>

  <update id="updateDetailForm" parameterType="map">
        UPDATE _app_${tableKey}
        SET
            ${sql}
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>