<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxtx.user_manage.mapper.OaProcessRunMapper">
  <resultMap id="BaseResultMap" type="com.cxtx.user_manage.domain.OaProcessRun">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="process_id" jdbcType="BIGINT" property="processId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_by, create_date, update_by, update_date, sort, status, remarks, process_id, 
    user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    *
    from oa_process_run
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oa_process_run
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.cxtx.user_manage.domain.OaProcessRun" useGeneratedKeys="true" keyProperty="id">
    insert into oa_process_run
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>

        create_date,

      <if test="updateBy != null">
        update_by,
      </if>

        update_date,

      <if test="sort != null">
        sort,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="processId != null">
        process_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      SYSDATE(),
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      SYSDATE(),
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="processId != null">
        #{processId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxtx.user_manage.domain.OaProcessRun" useGeneratedKeys="true" keyProperty="id">
    update oa_process_run
    <set>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      update_date = SYSDATE(),
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="processId != null">
        process_id = #{processId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectAll" resultType="map" parameterType="map">
    SELECT
        pro.id,
        pro.process_name AS processName,
        u.LOGIN_ID AS creator,
        uu.LOGIN_ID AS currentHandler,
        pro.create_date AS createDate,
        pro.`code`,
        pro.code_name AS codeName,
        run.create_date AS handleDate,
        pro.state
    FROM
        oa_process pro
    LEFT JOIN oa_process_run run ON pro.id = run.process_id
    LEFT JOIN tb_sys_user u ON pro.create_by = u.id
    LEFT JOIN tb_sys_user uu ON pro.assignee = uu.id
    LEFT JOIN oa_flow_model md ON md.id = pro.flow_model_id
    where 1 = 1
    and md.`status` = 1
    <if test="userId != null and userId != ''"> and run.user_id = #{userId} </if>
    <if test="processName != null and processName != ''"> AND pro.process_name like concat("%",#{processName},"%") </if>
    <if test="startTime != null and startTime != ''"> and pro.create_date >= #{startTime}  </if>
    <if test="endTime != null and endTime != ''"> and pro.create_date &lt;= #{endTime} </if>
    <if test="creator != null and creator != ''"> and u.LOGIN_ID like concat("%",#{creator},"%") </if>
    <if test="state != null and state != ''"> and pro.state = #{state}</if>
    GROUP BY
        pro.id
    ORDER BY
        pro.create_date DESC
  </select>


  <select id="selectList" parameterType="map" resultMap="BaseResultMap">
    select * from oa_process_run
    where 1 = 1
    <if test="processId != null and processId != ''">
      and process_id = #{processId}
    </if>
  </select>

  <delete id="deleteByMap" parameterType="map">
    delete from oa_process_run
    where process_id = #{processId} and user_id = #{userId}
  </delete>

  <delete id="deleteByProcessId" parameterType="java.lang.Long">
    delete from oa_process_run
    where process_id = #{processId}
  </delete>
</mapper>