<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxtx.user_manage.mapper.OaProcessHisMapper">
  <resultMap id="BaseResultMap" type="com.cxtx.user_manage.domain.OaProcessHis">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="process_id" jdbcType="BIGINT" property="processId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Base_Column_List">
    id, process_id, user_id, create_by, create_date, update_by, update_date, sort, status, 
    remarks
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oa_process_his
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oa_process_his
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" parameterType="com.cxtx.user_manage.domain.OaProcessHis" useGeneratedKeys="true" keyProperty="id">
    insert into oa_process_his
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="processId != null">
        process_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>

        create_date,

      <if test="updateBy != null">
        update_by,
      </if>

        update_date,

      <if test="sort != null">
        sort,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="processId != null">
        #{processId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      SYSDATE(),
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      SYSDATE(),
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxtx.user_manage.domain.OaProcessHis" useGeneratedKeys="true" keyProperty="id">
    update oa_process_his
    <set>
      <if test="processId != null">
        process_id = #{processId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      update_date = SYSDATE(),
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="map">
    SELECT
    *
    FROM
    oa_process_his
    WHERE
    1 = 1
    <if test="status != null and status != ''">
      and status = #{status}
    </if>
  </select>

  <select id="queryByPageMap" parameterType="map" resultType="map">
    SELECT
        pro.id,
        pro.process_name AS processName,
        u.LOGIN_ID AS creator,
        uu.LOGIN_ID AS currentHandler,
        pro.create_date AS createDate,
        pro.`code`,
        pro.code_name AS codeName,
        pro.state,
        pro.flow_model_id,
        uuu.LOGIN_ID AS lastHandler,
        log.create_date AS lastHandleDate
    FROM
        oa_process pro
    LEFT JOIN oa_process_his his ON pro.id = his.process_id
    LEFT JOIN tb_sys_user u ON pro.create_by = u.id
    LEFT JOIN tb_sys_user uu ON pro.assignee = uu.id
    LEFT JOIN oa_flow_form off ON pro.flow_model_id = off.flow_model_id
    LEFT JOIN (
        SELECT
            a.process_id,
            a.create_date,
            a.cur_assignee
        FROM
            (
                SELECT
                    a.process_id,
                    MAX(a.create_date) AS max_create_date
                FROM
                    oa_process_log a
                GROUP BY
                    a.process_id
            ) b
        LEFT JOIN oa_process_log a ON a.process_id = b.process_id
        AND a.create_date = b.max_create_date
        GROUP BY
            a.process_id,
            a.create_date,
            a.cur_assignee
    ) log ON pro.id = log.process_id
    LEFT JOIN tb_sys_user uuu ON log.cur_assignee = uuu.id
    WHERE
        his.user_id = #{userId}
    AND off.status != 0
    GROUP BY
        pro.id
    ORDER BY pro.state,pro.create_date DESC
  </select>
</mapper>