<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxtx.user_manage.mapper.OaProcessLogMapper">
  <resultMap id="BaseResultMap" type="com.cxtx.user_manage.domain.OaProcessLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="flow_id" jdbcType="BIGINT" property="flowId" />
    <result column="process_id" jdbcType="BIGINT" property="processId" />
    <result column="cur_node" jdbcType="VARCHAR" property="curNode" />
    <result column="cur_node_name" jdbcType="VARCHAR" property="curNodeName" />
    <result column="next_node" jdbcType="VARCHAR" property="nextNode" />
    <result column="next_node_name" jdbcType="VARCHAR" property="nextNodeName" />
    <result column="action_id" jdbcType="INTEGER" property="actionId" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="cur_assignee" jdbcType="LONGVARCHAR" property="curAssignee" />
    <result column="next_assignees" jdbcType="LONGVARCHAR" property="nextAssignees" />
    <result column="message" jdbcType="LONGVARCHAR" property="message" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oa_process_log
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    *
    from oa_process_log
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insertSelective" parameterType="com.cxtx.user_manage.domain.OaProcessLog" useGeneratedKeys="true" keyProperty="id">
    insert into oa_process_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="flowId != null">
        flow_id,
      </if>
      <if test="processId != null">
        process_id,
      </if>
      <if test="curNode != null">
        cur_node,
      </if>
      <if test="nextNode != null">
        next_node,
      </if>
      <if test="actionId != null">
        action_id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>

        create_date,

      <if test="updateBy != null">
        update_by,
      </if>

        update_date,

      <if test="sort != null">
        sort,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="curAssignee != null">
        cur_assignee,
      </if>
      <if test="nextAssignees != null">
        next_assignees,
      </if>
      <if test="message != null">
        message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="flowId != null">
        #{flowId,jdbcType=BIGINT},
      </if>
      <if test="processId != null">
        #{processId,jdbcType=BIGINT},
      </if>
      <if test="curNode != null">
        #{curNode,jdbcType=VARCHAR},
      </if>
      <if test="nextNode != null">
        #{nextNode,jdbcType=VARCHAR},
      </if>
      <if test="actionId != null">
        #{actionId,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      SYSDATE(),
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      SYSDATE(),
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="curAssignee != null">
        #{curAssignee,jdbcType=LONGVARCHAR},
      </if>
      <if test="nextAssignees != null">
        #{nextAssignees,jdbcType=LONGVARCHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxtx.user_manage.domain.OaProcessLog" useGeneratedKeys="true" keyProperty="id">
    update oa_process_log
    <set>
      <if test="flowId != null">
        flow_id = #{flowId,jdbcType=BIGINT},
      </if>
      <if test="processId != null">
        process_id = #{processId,jdbcType=BIGINT},
      </if>
      <if test="curNode != null">
        cur_node = #{curNode,jdbcType=VARCHAR},
      </if>
      <if test="nextNode != null">
        next_node = #{nextNode,jdbcType=VARCHAR},
      </if>
      <if test="actionId != null">
        action_id = #{actionId,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      update_date = SYSDATE(),
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="curAssignee != null">
        cur_assignee = #{curAssignee,jdbcType=LONGVARCHAR},
      </if>
      <if test="nextAssignees != null">
        next_assignees = #{nextAssignees,jdbcType=LONGVARCHAR},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="map">
    SELECT
    *
    FROM
    oa_process_log
    WHERE
    1 = 1
    <if test="status != null and status != ''">
      and status = #{status}
    </if>
    <if test="processId != null and processId != ''">
      and process_id = #{processId}
    </if>
    <if test="nextNode != null and nextNode != ''">
      and next_node = #{nextNode}
    </if>
    <if test="curNode != null and curNode != ''">
      and cur_node = #{curNode}
    </if>
    <if test="noCurNode != null and noCurNode != ''">
      and cur_node != #{noCurNode}
    </if>

    order by create_date desc
  </select>

  <select id="getLogByProcessId" resultMap="BaseResultMap">
		SELECT DISTINCT
            log.*,
            e1.`name` AS cur_node_name,
            e2.`name` AS next_node_name
        FROM
            oa_process_log log
        LEFT JOIN tb_sys_user u ON log.cur_assignee = u.id
        LEFT JOIN tb_sys_user uu ON log.next_assignees = uu.id
        LEFT JOIN oa_process p ON p.id = log.process_id
        LEFT JOIN oa_flow_model_element e1 ON e1.`code` = log.cur_node AND e1.model_id = p.flow_model_id
        LEFT JOIN oa_flow_model_element e2 ON e2.`code` = log.next_node AND e2.model_id = p.flow_model_id
        WHERE
                log.process_id = #{processId}
        ORDER BY
            create_date ASC
	</select>

  <delete id="deleteByProcessId" parameterType="java.lang.Long">
    delete from oa_process_log
    where process_id = #{processId}
  </delete>

</mapper>