<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxtx.user_manage.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.cxtx.user_manage.domain.Role">
        <id column="ID" jdbcType="VARCHAR" property="id" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
        <result column="REMARK" jdbcType="VARCHAR" property="remark" />
        <result column="IS_DEFAULT" jdbcType="INTEGER" property="isDefault" />
        <result column="USER_NUM" jdbcType="INTEGER" property="userNum" />
        <result column="MENU_NUM" jdbcType="INTEGER" property="menuNum" />
    </resultMap>

    <resultMap id="FullResultMap" type="com.cxtx.user_manage.domain.Role">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <collection property="menuIds" javaType="java.util.ArrayList" column="{roleId=ID}" select="selectMenuIdsByRoleId"></collection>
    </resultMap>

    <insert id="insertRole" parameterType="com.cxtx.user_manage.domain.Role">
        <selectKey  keyProperty="id" resultType="String" order="BEFORE">
            <![CDATA[  SELECT uuid()  FROM  dual  ]]>
        </selectKey>
        INSERT INTO tb_sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateRole" parameterType="com.cxtx.user_manage.domain.Role">
        UPDATE tb_sys_role
        <set>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE ID = #{id,jdbcType=VARCHAR}
    </update>

    <insert id="insertRole2Menus" parameterType="com.cxtx.user_manage.domain.Role">
        INSERT INTO tb_sys_role_r_menu (ID,ROLE_ID,MENU_ID) VALUES
        <foreach collection="menuIds" item="menuId" separator=",">
            (UUID(),#{id},#{menuId})
        </foreach>
    </insert>

    <delete id="deleteRoleById" parameterType="java.lang.String">
        DELETE FROM tb_sys_role WHERE ID = #{id}
    </delete>

    <delete id="deleteRole2MenusByRoleId" parameterType="java.lang.String">
        DELETE FROM tb_sys_role_r_menu WHERE ROLE_ID = #{roleId}
    </delete>

    <select id="selectRoleById" parameterType="java.lang.String" resultMap="FullResultMap">
        SELECT
        ID,
        NAME,
        REMARK
        FROM tb_sys_role
        WHERE ID = #{id}
    </select>

    <select id="selectRoleListByUserId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT DISTINCT ROLE_ID FROM tb_sys_user_r_role WHERE LOGIN_ID = (SELECT LOGIN_ID FROM tb_sys_user WHERE ID = #{userId})
    </select>

    <!--获取某个角色绑定的所有子菜单-->
    <select id="selectMenuIdsByRoleId" parameterType="map" resultType="java.lang.String">
        SELECT
        MENU_ID
        FROM tb_sys_role_r_menu
        WHERE ROLE_ID = #{roleId}
            AND MENU_ID NOT IN (
            SELECT DISTINCT
                PARENT_ID
            FROM
                `tb_sys_menu`
            WHERE
                1 = 1
            AND PARENT_ID IS NOT NULL
        )
    </select>

    <select id="selectRoleList" parameterType="map" resultMap="BaseResultMap">
        SELECT
        a.ID,
        a. NAME,
        IFNULL(b.USER_NUM,0) as USER_NUM,
        IFNULL(c.MENU_NUM,0) as MENU_NUM,
        a.REMARK
        FROM
        tb_sys_role a
        LEFT JOIN (
        SELECT
        ROLE_ID,
        COUNT(DISTINCT LOGIN_ID) AS USER_NUM
        FROM
        tb_sys_user_r_role
        GROUP BY
        ROLE_ID
        ) b ON a.ID = b.ROLE_ID
        LEFT JOIN (
        SELECT
        a.ROLE_ID,
        COUNT(DISTINCT a.MENU_ID) AS MENU_NUM
        FROM
        tb_sys_role_r_menu a
        LEFT JOIN tb_sys_menu b ON a.MENU_ID = b.ID
        WHERE
        1 = 1
        GROUP BY
        a.ROLE_ID
        ) c ON a.ID = c.ROLE_ID
        WHERE
        1 = 1
        <if test="name != null">
            AND a.NAME LIKE CONCAT('%',#{name},'%')
        </if>
    </select>

    <select id="selectAllRole" resultMap="BaseResultMap">
        SELECT
        ID,
        NAME,
        REMARK
        FROM tb_sys_role
        WHERE 1=1
    </select>

    <select id="getRoleListByIds" parameterType="map" resultMap="BaseResultMap">
        select * from tb_sys_role
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

</mapper>
